<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-weather"></ion-back-button>
    </ion-buttons>
    <ion-title>Air Quality</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="see-more-content">
  <div class="container">
    <div class="air-quality-info">
      <ion-icon name="leaf-outline" class="air-quality-icon"></ion-icon>
      <h2>Air Quality Information</h2>
      <p>Learn more about the air quality and its effects on health.</p>
    </div>

    <ion-card class="detail-card animated-card">
      <ion-card-header>
        <ion-card-title>PM2.5</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>PM2.5 are tiny particles in the air that reduce visibility and cause the air to appear hazy when levels are elevated.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="detail-card animated-card">
      <ion-card-header>
        <ion-card-title>PM10</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>PM10 are inhalable particles, with diameters that are generally 10 micrometers and smaller.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="detail-card animated-card">
      <ion-card-header>
        <ion-card-title>Ozone (O₃)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ground-level ozone, a harmful air pollutant, affects all of us. It forms when pollutants emitted by cars, power plants, and other sources chemically react in the presence of sunlight.</p>
      </ion-card-content>
    </ion-card>
    
    <ion-card class="detail-card animated-card">
      <ion-card-header>
        <ion-card-title>Nitrogen Dioxide (NO₂)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Nitrogen Dioxide is a reddish-brown gas with a characteristic sharp, biting odor and is a prominent air pollutant.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
